{% extends "base.html" %}
{% block title %}{{ w.nama }}{% endblock %}

{% block content %}
<div class="detail-wrapper">

    <!-- HERO IMAGE -->
    <div class="detail-hero">
        <img src="{{ w.image }}" alt="{{ w.nama }}">
        <div class="detail-overlay">
            <h1>{{ w.nama }}</h1>
            <span class="badge">{{ w.type }}</span>
        </div>
    </div>

    <!-- INFO -->
    <div class="detail-info">
        <div class="info-card">
    <div>
        <small>Rating</small>
        <h3>⭐ {{ w.vote_average }}</h3>
    </div>
    <div>
        <small>Ulasan</small>
        <h3>💬 {{ w.vote_count }}</h3>
    </div>
    <div>
        <small>HTM Weekday</small>
        <h3>💰 Rp {{ "{:,}".format(w.htm_weekday) }}</h3>
    </div>
    <div>
        <small>HTM Weekend</small>
        <h3>💰 Rp {{ "{:,}".format(w.htm_weekend) }}</h3>
    </div>
</div>

        </div>

        <div class="detail-desc">
            <h3>📖 Deskripsi</h3>
            <p>{{ w.description }}</p>
        </div>

        <!-- MAP -->
        <div class="detail-map">
            <h3>📍 Lokasi</h3>
            <div id="map"></div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
const map = L.map('map').setView(
    [{{ w.latitude }}, {{ w.longitude }}], 14
);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
.addTo(map);

L.marker([{{ w.latitude }}, {{ w.longitude }}])
.addTo(map)
.bindPopup("{{ w.nama }}")
.openPopup();
</script>
{% endblock %}
